<!-- <html>
    <body>
        <h2>Course Name is : {{cname | capfirst}}   Duration is:{{cduration | length}}  and fee is:{{cfee}}</h2>
    </body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>1. Upper: {{name| upper}}</h1>
    <h1>2. lower: {{name| lower}}</h1>
    <h1>3. length: {{student| length}}</h1>
    <h1>4. capfirst: {{is_active | capfirst}}</h1>
    <h1>4. Date: {{today|date:" d/m/Y"}}</h1>
    <!-- <h1>5.color: {{color|random}} </h1> -->

    
</body>
</html>