<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Project</title>
    <style>
    body{
    background-color: #f0f0f0;
    font-family:Arial;
    color:#333;
    }
    .container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    </style>
</head>
<body>
     <div class="container">
     <h1>vaishnavi Bhonde</h1>
     <p>My name is vaishnavi bhonde, i am from Amravati</p>
     <p>I doing Coding classes</p>
     </div>
</body>
</html>